---
import Layout from "../layouts/Layout.astro";
import HeroProductos from "../components/HeroProductos.astro";
import CategorySection from "../components/layouts/CategorySection.astro";
---

<Layout title="Nuestros Productos">
  <HeroProductos />
  <main class="flex flex-col items-center justify-center w-full mx-auto">
    <CategorySection
      title=`PANADERÍA`
      description=`En nuestra panadería, cada día es una obra maestra horneada. Con
            recetas ancestrales y secretos transmitidos de generación en
            generación, nuestro pan es el tesoro mejor guardado de la ciudad.`
      tipo=`pan`
    />

    <CategorySection
      title=`CAFETERÍA`
      description=`Acompaña nuestro delicioso café con esas delicias típicas de nuestra
            tierra. Estos platos insignia que no pueden faltar en nuestra
            gastronomía colombiana.`
      tipo=`cafeteria`
    />

    <CategorySection
      title=`Pastelería`
      description=`Con recetas que han resistido el paso del tiempo y técnicas que despiertan los sentidos, nuestros pasteleros crean magia en cada
bandeja.`
      tipo=`pasteleria`
    />

    <CategorySection
      title=`Tortas`
      description=`Nuestros pasteleros, maestros en el arte del azúcar, trabajan con dedicación para ofrecerte lo mejor de lo mejor. Desde los clásicos más tradicionales hasta las creaciones más innovadoras, cada bocado es una explosión de sabor y textura que deleita los sentidos.`
      tipo=`tortas`
    />

    <CategorySection
    title=`Cocina Típica`
    description=`Desde las montañas de los Andes hasta las costas del Caribe, nuestro menú es un viaje gastronómico que te invita a descubrir los secretos mejor guardados de nuestra cocina.`
    tipo=`tipica`
  />
  </main>
</Layout>
