---
import Layout from "../layouts/Layout.astro";
import Cuadrilla from "../components/ui/Cuadrilla.astro";
---

<Layout title="Nuestros Productos">
    <section class="grid grid-cols-7 ">
        <div class="col-span-2  flex flex-col items-center justify-center">
            <h2 class="text-3xl"><span class="text-yellow-400">-</span>Panaderia</h2>
            <p class="w-60 text-pretty my-2">En nuestra panadería, cada día es una obra maestra horneada. Con recetas
                ancestrales y secretos transmitidos de generación en generación, nuestro
                pan es el tesoro mejor guardado de la ciudad.</p>
        </div>

        <article class="col-span-4 "><Cuadrilla /></article>
    </section>
</Layout>
