<footer
    class="flex flex-col items-center justify-between bg-gray-950 text-white py-16 space-y-2.5 text-center " 
>
    <img src="/assets/logo_panaderia.png" alt="" class=" bg-white p-2 rounded-xl my-8" />
    <h2 class="text-3xl font-bold my-4">Trabaja Con Nosotros</h2>
    <p class="text-xl">Envíanos tu hoja de vida a <span class="hover:bg-white hover:text-gray-900 transition-all hover:scale-105 p-2 hover:underline">Recursosjosepan@gmail.com</span></p>
    <p class="text-orange-300 text-2xl">Siguenos en:</p>
    <div class="flex flex-row items-center justify-between w-40">
        <span>F</span>
        <span>T</span>
        <span>Y</span>
        <span>I</span>
    </div>
</footer>
