<header class="bg-white grid grid-cols-4 gap-4 w-full py-8">
    <div class="col-span-1 text-gray-600 mx-auto">Logo</div>
    <ul
        class="col-span-3 flex items-center justify-evenly transition-all text-orange-500 hover:text-orange-700 font-bold text-xl xl:px-16"
    >
        <li class="hover:text-gray-900 transition-all"><a href="#">Inicio</a></li>
        <li class="hover:text-gray-900 transition-all"><a href="#">Eventos</a></li>
        <li class="hover:text-gray-900 transition-all"><a href="#">Redes</a></li>
    </ul>
</header>
