---
import { Image } from "astro:assets";
import Hero from "/src/assets/HeroNuestrosProductos.jpg";
---

<section class="relative h-[70vh] xl:h-[88vh] bg-gray-50">
    <!-- Optimized image with Astro Image component -->
    <Image
        src={Hero}
        alt="Hero background"
        class="object-cover h-full w-full"
    />

    <!-- Overlay and content -->
    <div
        class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center"
    >
        <div class="text-center text-white">
            <h1 class="text-4xl md:text-6xl font-bold mb-6">
                ¡Llegaste A Migas D'Angeles!
            </h1>
        </div>
    </div>
</section>
