---
import { Picture } from "astro:assets";

// Importar las imágenes
import tortas from "../../../public/assets/tortas.jpg";
import bandeja from "../../../public/assets/bandeja-paisa.jpg";
import cafe from "../../../public/assets/cafe2.jpg";
import imagenCua from "../../../public/assets/IMG_0612_usar.jpg";
import pasteleria from "../../../public/assets/pasteleria.jpg";
import pulpo from "../../../public/assets/pulpo_papas.jpg";
import restaurante from "../../../public/assets/restaurantes.jpg";
import reserva from "../../../public/assets/Reserva-tu-torta.jpg";

// Arreglo de imágenes con rutas y descripciones
const images = [
  { src: tortas, alt: "tortas", tipo: "tortas" },
  { src: bandeja, alt: "bandeja", tipo: "tipica" },
  { src: cafe, alt: "cafe", tipo: "cafeteria" },
  { src: imagenCua, alt: "imagenCua", tipo: "pan" },
  { src: pasteleria, alt: "pasteleria", tipo: "pasteleria" },
  { src: pulpo, alt: "pulpo", tipo: "pulpo" },
  { src: restaurante, alt: "restaurante", tipo: "restaurante" },
  { src: reserva, alt: "reserva", tipo: "reserva" },
];
---

<section class="w-full grid grid-cols-2 xl:grid-cols-4 gap-8 p-4">
  {
    images.map((image) => (
      <a href={`/nuestros_Productos#${image.tipo}`} class="relative group"  transition:name={`${image.tipo}`}>
        <Picture 
          class={
            "w-full h-56 object-cover rounded-lg shadow group-hover:blur-[3px] duration-300  "
          }
          src={image.src}
          formats={["avif", "webp"]}
          alt={image.alt}
        />
        <span
          class="group-hover:absolute hidden group-hover:block top-1/2 right-1/2 transform translate-x-1/2 text-xl text-center capitalize font-bold bg-white bg-opacity-50 p-1 rounded-lg transition-all "
        >
          PANADERÍA
        </span>
      </a>
    ))
  }
</section>
